<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>{{pageTitle}}</title>
</head>

<body>

    {{{body}}}

    <footer class="page-footer">
        <div class="container info">
            <div class="foot-child">
                <a href="./index.html" class="logo-foot link"><span class="logo-web">Web &nbsp;</span><span
                        class="logo-foot">Studio</span></a>

                <!-- Контактная информация -->

                <address class="address company">
                    г. Киев, пр-т Леси Украинки, 26
                </address>
                <address class="address">
                    <a href="mailto" class="link mail">info@devstudio.com</a> <br />
                    <a href="tel:380961111111" class="link tel">+38 096 111 11 11</a>
                </address>
            </div>

            <div class="foot-link">
                <b>присоединяйтесь</b>
                <!-- Соц ссылки -->
                <div class="social">
                    <ul class="list">
                        <li class="item">
                            <a href="http://instagram.com/" aria-label="Ссылка на instagram" class="link">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#icon-instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="item">
                            <a href="http://twitter.com/" aria-label="Ссылка на twitter" class="link twit">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#icon-twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="item">
                            <a href="http://facebook.com/" aria-label="Ссылка на facebook" class="link face">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#icon-facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="item">
                            <a href="http://linkedin.com/" aria-label="Ссылка на linkedin" class="link linkd">
                                <svg class="social-icon" width="20" height="20">
                                    <use href="./img/sprite.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <form class="foot-follow">
                <b>подпишитесь на рассылку</b><br />
                <input class="foot-form input" type="text" placeholder="E-mail" />
                <button class="button primary">Подписаться</button>
            </form>
        </div>
    </footer>
    <!-- JS -->
    <script src="./js/form.js"></script>
    <script src="./js/menu.js"></script>
</body>

</html>